<app-painel-simples tipo="primary" titulo="Consultas Realizadas" col="6">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Especialidades</th>
        <th>Quantidades</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consulta of consultas.realizadas">
        <td>{{consulta.especialidade}}</td>
        <td>{{consulta.quantidade}}</td>
      </tr>
    </tbody>
  </table>
</app-painel-simples>

<app-painel-simples tipo="primary" titulo="Consultas Marcadas" col="6">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Especialidades</th>
        <th>Quantidades</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consulta of consultas.marcadas">
        <td>{{consulta.especialidade}}</td>
        <td>{{consulta.quantidade}}</td>
      </tr>
    </tbody>
  </table>
</app-painel-simples>
