<app-painel-simples tipo="primary" titulo="{{titulo}}" col="6">
    <table *ngIf="!erro; else mensagem" class="table table-hover">
      <thead>
        <tr>
          <th>Especialidades</th>
          <th>Quantidades</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consulta of consultas">
          <td>{{consulta.especialidade}}</td>
          <td>{{consulta.quantidade}}</td>
        </tr>
      </tbody>
    </table>
    <ng-template #mensagem>
      <h3 class="text-center">Falha na Comunicação</h3>
    </ng-template>
  </app-painel-simples>
